# Task 4.6 - Part 1- Merging and exporting data

1. Import libraries
2. Importing data
3. Checking dimension of data
4. Merging data
5. Exporting data

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Original Data

In [2]:
# Defining path
path=r'C:\Users\ponni\Achievement 4'

In [3]:
# Importing 'orders_products_prior.csv'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# Importing 'orders_consistency checked.csv'
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_consistency checked.csv'), index_col = False)

# 03. Checking dimension

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,999.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [8]:
df_ords.shape

(3421083, 8)

# 04. Merging dataframes

In [9]:
# Merging dataframes df_ords & df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,999.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,999.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,999.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,999.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,999.0,26405,5,0,both

In [11]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
df_merged_large.shape

(32434489, 12)

In [13]:
# dropping 2 unnecessary columns
df_merged_large.drop(['Unnamed: 0', 'eval_set'], axis=1, inplace=True)

In [14]:
df_merged_large.shape

(32434489, 10)

# 05. Exporting data

In [15]:
# Export data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))