# 1. Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

# 2. Import data

In [3]:
# Defining path
path=r'C:\Users\ponni\Achievement 4'

In [4]:
# Import merged data
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_3.pkl'))

In [6]:
# converting datatypes to reduce the size of the data
#int64 to int8
df_merged[['order_id','user_id','order_number','order_dow','order_hour_of_day','product_id','department_id','max_order','age','no_of_dependants']] = df_merged[['order_id','user_id','order_number','order_dow','order_hour_of_day','product_id','department_id','max_order','age','no_of_dependants']].astype('int8')

In [8]:
#flot 64 to float 16
df_merged[['days_since_prior_order','prices','average_price']] = df_merged[['days_since_prior_order','prices','average_price']].astype('float16')

# Task 4.10- Answers

#### Q2) The customer data has a lot of PII data. It will not be removed. However, a note will be made in final report.

In [10]:
# Q3a) Creating a regional segmentation of the data
#Checking the state column
df_merged['state'].value_counts()

Pennsylvania            667082
California              659783
Rhode Island            656913
Georgia                 656389
New Mexico              654494
Arizona                 653964
North Carolina          651900
Oklahoma                651739
Alaska                  648495
Minnesota               647825
Massachusetts           646358
Wyoming                 644255
Virginia                641421
Missouri                640732
Texas                   640394
Colorado                639280
Maine                   638583
North Dakota            638491
Alabama                 638003
Kansas                  637538
Louisiana               637482
Delaware                637024
South Carolina          636754
Oregon                  636425
Arkansas                636144
Nevada                  636139
New York                635983
Montana                 635265
South Dakota            633772
Illinois                633024
Hawaii                  632901
Washington              632852
Mississippi             632675
Kentucky                632490
Michigan                630928
Florida                 629027
Ohio                    628319
Wisconsin               628108
New Jersey              627692
Indiana                 627282
Maryland                626579
Nebraska                625813
Iowa                    625493
Connecticut             623022
Tennessee               617873
New Hampshire           615378
District of Columbia    613695
West Virginia           612296
Utah                    611941
Vermont                 611725
Idaho                   607119
Name: state, dtype: int64

In [11]:
# defining regions with the help of wikipedia article provided
northeast=['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']
midwest=['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']
south=['Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana']
west=['Idaho','Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico','Alaska','Washington','Oregon','California','Hawaii']

In [12]:
# creating an empty list and for loop logic
result=[]

for value in df_merged['state']:
    if value in northeast:
        result.append('Northeast')
    elif value in midwest:
        result.append('Midwest')
    elif value in south:
        result.append('South')
    elif value in west:
        result.append('West')

In [13]:
# Creating region column and assign the above list value to it
df_merged['regions']=result

In [14]:
# check the region column
df_merged['regions'].value_counts()

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: regions, dtype: int64

In [15]:
df_merged['regions'].shape

(32404859,)

In [16]:
# Q3b) Difference in spending habits between the U.S regions
# Crossing the region flag with spending flag
crosstab=pd.crosstab(df_merged['regions'],df_merged['spending_flag'],dropna=False)

In [17]:
crosstab

spending_flag  High spender  Low spender
regions
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

#### Each region has more low spender than high spender.

In [18]:
# Q4) Creating an exclusion flag customers with less than 5 orders
df_merged.loc[df_merged['max_order']>=5,'activity']='normal'
df_merged.loc[df_merged['max_order']<5,'activity']='low'

In [19]:
df_merged['activity'].value_counts()

normal    30964564
low        1440295
Name: activity, dtype: int64

In [20]:
# checking for rows to match the dataframe
df_merged['activity'].shape

(32404859,)

In [21]:
# customers with low orders
df_low_customers=df_merged[df_merged['activity']=='low']

In [22]:
df_low_customers.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,product_name,department_id,prices,...,last_name,gender,state,age,date_joined,no_of_dependants,marital_status,income($),regions,activity
1510,-84,120,1,3,11,999.0,-60,Soda,7,9.000000,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low
1511,69,120,3,2,8,19.0,-60,Soda,7,9.000000,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low
1512,-84,120,1,3,11,999.0,69,Zero Calorie Cola,7,13.398438,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low
1513,69,120,3,2,8,19.0,69,Zero Calorie Cola,7,13.398438,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low
1514,-84,120,1,3,11,999.0,-20,Mixed Fruit Fruit Snacks,19,3.099609,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low

In [23]:
df_low_customers.shape

(1440295, 29)

In [24]:
# Exporting the low activity customer dataset
df_low_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_lowactivitycustomer.pkl'))

In [25]:
# creating a dataframe with normal activity customer
df_normal_customers=df_merged[df_merged['activity']=='normal']

In [26]:
df_normal_customers.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'product_name', 'department_id',
       'prices', 'price_range_loc', 'busiest day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'no_of_dependants', 'marital_status', 'income($)',
       'regions', 'activity'],
      dtype='object')

In [27]:
# Q5

#### a) Family status

In [28]:
# To create a family status flag to find parents of young children, parents of older children, and people with no children
# Department id # 18 is designated 'babies' and will be used here to identify families with young children
df_normal_customers.loc[(df_merged['department_id']==18)&(df_merged['no_of_dependants']>0),'family_status']='family with young children'

C:\Users\ponni\AppData\Local\Temp\ipykernel_10828\1496394366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_normal_customers.loc[(df_merged['department_id']==18)&(df_merged['no_of_dependants']>0),'family_status']='family with young children'

In [29]:
df_normal_customers.loc[(df_merged['department_id']!=18)&(df_merged['no_of_dependants']>0),'family_status']='family with older children'

In [30]:
df_normal_customers.loc[df_merged['no_of_dependants']==0,'family_status']='no children'

In [31]:
df_normal_customers['family_status'].value_counts()

family with older children    22917819
no children                    7739681
family with young children      307064
Name: family_status, dtype: int64

In [32]:
len(df_normal_customers['family_status'])

30964564

In [33]:
len(df_normal_customers)

30964564

In [60]:
# Exporting the normal activity customer dataset
df_normal_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_nactivitycustomer.pkl'))

In [59]:
# Exporting the df_merged dataset
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_5.pkl'))

#### continued in next notebook